layout {
    default_tab_template{
        children
        pane size=1 borderless=true{
                plugin location="zellij:compact-bar"
            }
    }
    tab name="Normal" {
        pane
    }
    tab name="frontEnd" {
        pane size="80%"{
                cwd "./frontEnd"
                command "nvim"
                args "."
            }
        pane size="20%"{
                cwd "./frontEnd"
            }    
    }
    tab name="backEnd" {
        pane size="80%"{
                cwd "./backEnd"
                command "nvim"
                args "."
            }
        pane size="20%"{
                cwd "./backEnd"
            }      
    }
    tab name="DB" {
        pane
    }
}


